.container {
  height: 100vh;
  width: 100vw;
}

.bodyRow {
  padding: 4em 0;
}

.header {
  font-size: 2em;
}

.sectionHeader {
  font-weight: bold;
}

.section {
  padding-top: 2em;
}

.text {
  padding-top: 0.5em;
}
