/*.App {
  text-align: center;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* yeeeeeeeet */

a:hover {
  color: #d6dbe0;
  text-decoration: none;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.nav-container {
  background-color: white;
  position: fixed;
  width: 100vw;
  text-align: center;
  margin-top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: margin-top 0.25s ease-in;
  overflow: wrap;
  word-break: break-all;
  min-width: 450px;
}

.home {
  margin-top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: margin-top 0.35s ease-out;
}

.name {
  color: white;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
  /*background: #222;*/
  background: #1C2833;
  height: 2em;
  padding: 0.4em 0;
}

.name:hover {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 37%, rgba(252,176,69,1) 83%);
}

.nav-links-container {
  margin: 36px 0;
}

.nav-link {
  font-size: 24px;
  color:  #222;
  margin: 0 60px;
  cursor: pointer;
  display: inline;
}

.nav-link:hover {
  color: #AAB7B8;
}

.active {
  color: #AAB7B8;
  border-bottom: 1px solid #eee;
}

.subpart-container {
  max-height: 0;
  position: absolute;
  margin: 220px 0 150px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60vw;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.show {
  max-height: 5000px;
  transition: max-height 0.8s ease-in;
}

.subpart-header {
  font-size: 36px;
  color: #222;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.smidge {
  height: 30px;
}

.half-smidge {
  height: 15px;
}

.subpart-body {
  padding-top: 16px;
}

.subpart-title {
  font-size: 24px;
  color: #AAB7B8;
}

.subpart-subtitle {
  font-size: 20px;
  color: #222;
}

.subpart-text {
  font-size: 16px;
  color: #222;
}

.subpart-time {
  font-size: 20px;
  color: #222;
  display: flex;
  justify-content: flex-end;
}

.subpart-links {
  text-align: center;
}

.images {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
